#slide4{
  background-color: #beef00;;
  min-width: 100vw;
  height: 100vh;
  font-size : 28px;
  color: #020202;
  font-size: 100px;
  display : flex;
  justify-content: center;
  align-items: center;
}
/* 
#slide4 .content{
  max-width: 70vw;
  margin: 5% auto 5%;
} */

/* #slide4 h1{
  font-size: 100px;
} */

/* #slide4 li{
  margin : 30px 0 0 3%;
} */
