#slide7{
  background-color: #2D283E;
  min-width: 100vw;
  height: 100vh;
  font-size : 28px;
  color: #D1D7E0;
}

#slide7 .content{
  max-width: 80vw;
  margin: 1% auto 5%;
}

#slide7 h1{
  font-size: 42px;
  color: #802BB1;
  margin: 20px 0;
}

#slide7 h3{
  margin: 35px 0 25px;
}

#slide7 li{
  margin : 15px 0 0 3%;
}

#slide7 .math{
  color : #F070A1;
}