#slide1{
  background-color: #25274D;
  min-width: 100vw;
  height: 100vh;
}
#slide1 .content{
  color : #E3A286;
  margin : 5% 5%;
}
#slide1 h1{
  font-size: 38px;
  text-align: center;
}
#slide1 h2{
  margin-top: 2%;
  font-size: 32px;
  text-align: center;
}
#slide1 h3{
  font-size: 29px;
  text-align: center;
}
#slide1 #name{
  font-size: 25px;
  width : 38%;
  margin: 12% 27% 7% 35%;
  line-height: 3rem;
}