#slide13{
  background-color: #2D283E;
  min-width: 100vw;
  height: 100vh;
  font-size : 24px;
  color: #E1E7E0;
}

#slide13 .content{
  min-width: 80vw;
  margin: 1% auto 5%;
}

#slide13 h1{
  font-size: 42px;
  color: rgb(132, 31, 190);
  margin: 20px 0;
}

#slide13 li{
  margin : 15px 0 0 3%;
}

#slide13 li a{
  text-decoration: none;
  color : palevioletred;
}